<div class="row" style="margin-left: 10px">
		<%= f.label :track_num, "No." %>
	<div>
		<%= f.text_field :track_num %>
	</div>
		<%= f.label :track_name, "曲名" %>
	<div>
		<%= f.text_field :track_name, class: 'col-xs-7' %>
		<!-- DBに保存されていない場合のみ表示 = 更新時のみ表示 -->
		<% if @item.persisted? %>
			<%= f.check_box :_destroy %>
			<%= f.label :_destroy, "削除" %><br />
		<% end %>
	</div>
</div>