<%= render "layouts/admin/header" %>

<div class="contener">
    <div class="row btn-margin-top">
        <div class="col-xs-3" style="text-align: center;">
            <%= link_to "Back", :back, class: "btn btn-primary btn-xs" %>
        </div>
    </div>

    <div class="row btn-margin-top" >
        <div class="col-xs-5 col-xs-offset-7" style="text-align: right">
            <%= render 'layouts/admin/top' %>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3" style="text-align: right;">
            <h2><strong>商品一覧</strong></h2>
        </div>
    </div>
</div>

<!-- 検索バー -->
<div class="text-center">
    <%= search_form_for @search, :url => admin_items_path do |f| %>
        <%= f.label :item_name_or_artist_name_cont_any, "商品名・アーティスト名検索" %><br>
        <%= f.search_field :item_name_or_artist_name_cont_any, :placeholder => "商品・アーティスト名" %>
        <%= f.submit "検索" %>
    <% end %>
</div>


<div class="row">
    <div class="col-sm-12">
        <table id="foo-table" class="table table-bordered">
            <thead>
               <tr>
                 　　 <th>ジャケット</th>
                 　　 <th>商品名</th>
                 　　 <th>アーティスト名</th>
                 　　 <th>ジャンル</th>
                 　　 <th>レーベル</th>
                 　　 <th>価格</th>
                 　　 <th>在庫</th>
                 　　 <th>発売日</th>
                     <th>フラグ</th>
             </tr>
         </thead>

         <% @selects.each do |item| %>
         <tbody>
           <tr>
            <!-- <td><%#= item.jacket_image_id %></td> -->
            <td>
                <%= attachment_image_tag item, :jacket_image, format: 'png', class: "center-block", fallback: "/no_image_m.png", width: '50', height: '50'%>
            </td>
            <td><%= link_to item.item_name, admin_item_path(item) %></td>
            <td><%= item.artist_name %></td>
            <td><%= item.genre.genre_name %></td>
            <td><%= item.label_name %></td>
            <td><%= item.price.to_s(:delimited) %>円</td>
            <td><%= item.stock %>枚</td>
            <td><%= item.release_date %></td>
            <td><%= item.purchase_flag ? '販売中止' : '販売可' %></td>
            <% end %>
        </tr>
    </tbody>
</table>
</div>
</div>

<div class="text-center">
    <%= paginate @selects %>
</div>