<div class="top-blank">
    <%= render "layouts/admin/header" %>
</div>

<div class="row">
    <div class="col-sm-12">
        <table id="foo-table" class="table table-bordered">
            <thead>
               <tr>
        	　　 <th>ジャケット</th>
        	　　 <th>CD名</th>
        	　　 <th>アーティスト名</th>
        	　　 <th>ジャンル</th>
        	　　 <th>レーベル</th>
        	　　 <th>価格</th>
        	　　 <th>在庫</th>
        	　　 <th>発売日</th>
               </tr>
            </thead>
            <% @items.each do |item| %>
            <tbody>
               <tr>
                <td><span><%#= item.jacket_image_id %></span></td>
                <td><span><%= item.item_name %></span></td>
                <td><span><%= item.artist_name %></span></td>
                <td><span><%= item.genre_id %></span></td>
                <td><span><%= item.label_name %></span></td>
                <td><span><%= item.price %>円</span></td>
                <td><span><%= item.stock %>枚</span></td>
                <td><span><%= item.release_date %></span></td>
            <% end %>
               </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    <%= paginate @items %>
</div>