<div class="top-blank">

<%= render "layouts/admin/header" %>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:red;">
     <!-- refile機能の実装まだです -->
     <input type="file">


    </div>
    <div class="col-sm-5" style="background-color:lightblue;">

<%= form_for @item, :url => admin_items_path do |f| %>

  <h6>CD/アルバム名</h6>
   <%= f.text_field :item_name, :size=>"90x10" %>

  <h6>アーティスト名</h6>
   <%= f.text_field :artist_name, :size=>"90x10" %>

  <h6>アーティスト名・カナ</h6>
   <%= f.text_field :artist_name_kana, :size=>"90x10" %>

   <h6>レーベル名</h6>
   <%= f.text_field :label_name, :size=>"90x10" %>

   <h6>ジャンル名</h6>
<%= f.collection_select :genre_id, Genre.all, :id, :genre_name, :size=>"90x10" %>

   <h6>単価</h6>
   <%= f.text_field :stock %>

   <h6>発売日</h6>
   <%= f.date_field :release_date  %>

<!-- 今日の日付を取得する記述方法あるようですがわかりませんでした -->
   <h6>商品登録日</h6>
   <%= f.date_field :created_at  %>

   <h6>購入</h6>
<input type="radio" name="q1" value="可"> 可能
<input type="radio" name="q1" value="不可"> 不可
</p>






 <% end %>
<!--     <p>
  <label for="kanso">CD/アルバム名</label><br>
  <textarea id="item_name" name="item_name" cols="40" rows="2" placeholder="CD/アルバム名"></textarea>
  </p>

    <p>
  <label for="artist_name">アーティスト名</label><br>
  <textarea id="artist_name" name="artist_name" cols="40" rows="2" placeholder="アーティスト名"></textarea>
  </p>
  <p>
  <label for="artist_name_kana">アーティスト名・カナ</label><br>
  <textarea id="artist_name_kana" name="artist_name_kana" cols="40" rows="2" placeholder="アーティスト名・カナ"></textarea>
  </p>
  <p>
  <label for="label_name">レーベル名</label><br>
  <textarea id="label_name" name="label_name" cols="40" rows="2" placeholder="レーベル名"></textarea>
  </p>
  <p>
  <label for="price">単価</label><br>
  <textarea id="price" name="price" cols="40" rows="1" placeholder="単価"></textarea>
  </p>
  <p>
  <label for="stock">在庫数</label><br>
  <textarea id="stock" name="stock" cols="40" rows="1" placeholder="在庫数"></textarea>
  </p> -->
 </div>
    <div class="col-sm-5" style="background-color:yellow;">
<%= form_for [@item, @track] do |f| %>

  <h6>トラックNo. / 曲名 / 時間</h6>
   <%= f.text_field :track_num, :size=>"10x10" %>
   <%= f.text_field :track_name, :size=>"50x10" %>
<!-- ↓カラム名を収録時間に直す必要あり -->
   <%= f.text_field :track_num, :size=>"20x10" %>
  <h6>アーティスト名</h6>
   <%= f.text_field :artist_name, :size=>"90x10" %>

  <h6>アーティスト名・カナ</h6>
   <%= f.text_field :artist_name_kana, :size=>"90x10" %>

   <h6>レーベル名</h6>
   <%= f.text_field :label_name, :size=>"90x10" %>
    <%= f.submit 'Post' %>
 <% end %>
    </div>

  </div>
</div>