nested_formのtest2
```

<%= render 'layouts/admin/header' %>


<div class="contener">
	<div class="row btn-margin-top">
		<div class="col-xs-3" style="text-align: center;">
			<%= link_to "Back", :back, class: "btn btn-primary btn-xs" %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3" style="text-align: right;">
			<h2><strong>商品追加</strong></h2>
		</div>
	</div>
</div>

<div class="contener">
	<div coass="row">
		<div class="col-xs-3 col-xs-offset-1">
			<h1>画像</h1>
		</div>
		<div class="col-xs-3" style="margin-bottom: 50px;">

			<%= nested_form_for @item, :url => admin_items_path do |f| %>　<!-- フォーム1はじまり -->
			<div><h4>商品情報</h4></div>
				<div class="field">
				<div>商品名</div>
				<%= f.text_field :item_name, class: 'col-xs-12' %>
				<div>アーティスト名</div>
				<%= f.text_field :artist_name, class: 'col-xs-12' %>
				<div>アーティスト名(カナ)</div>
				<%= f.text_field :artist_name_kana, class: 'col-xs-12' %>
				<div>ジャンルID</div>
				<%#= f.collection_select(:genre_id, Genre.all, :id, :genre_name, :prompt => true) %>
				<%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name), { :prompt => true } %>
				<div>値段</div>
				<%= f.text_field :price, class: 'col-xs-12' %>
				<div>レーベル名</div>
				<%= f.text_field :label_name, class: 'col-xs-12' %>
				<div>在庫数</div>
				<%= f.text_field :stock, class: 'col-xs-12' %>
				<div>発売日</div>
				<%= f.text_field :release_date, class: 'col-xs-12' %>
				<div>登録者id</div>
				<%#= f.collection_select(:admin_id, Admin.all, :id, :admin_name, :prompt => true) %>
				<%= f.select :admin_id, options_from_collection_for_select(Admin.all, :id, :admin_name), { :prompt => true } %>
				<%#= f.text_field :admin_id, class: 'col-xs-12' %>
				<div>購入フラグ</div>
				<%= f.check_box :purchase_flag %>
				</div>
				
			<div><h4>DISC情報</h4></div>
			<div class="field">
				<%= f.label :discs, "Disc" %><br>
				<%= f.fields_for :discs do |ff| %> <!-- フォーム2はじまり -->
					<%= render "disc_fields", f: ff %>
				<% end %>　<!-- フォーム2おわり -->
				<%= link_to_add_fields "Disc追加", f, :discs %>
			</div>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<div class="row btn-margin-top">
			<div class="actions col-xs-6">
				<%= f.submit "商品追加", class: "btn btn-primary btn-block col-xs-12" %>
			</div>
			</div>
			<% end %>　<!-- フォーム1おわり -->

		</div>
	</div>

		<!-- <div class="col-xs-4">
			<h1>曲</h1>
		</div> -->
	</div>
</div>
```