<<<<<<< Updated upstream
<%= render 'layouts/admin/header' %>

=======
<div class="top-blank">

<%= render "layouts/admin/header" %>

</div>
>>>>>>> Stashed changes

<div class="contener">
	<div class="row btn-margin-top">
		<div class="col-xs-3" style="text-align: center;">
			<%= link_to "Back", :back, class: "btn btn-primary btn-xs" %>
		</div>
	</div>
<<<<<<< Updated upstream
	<div class="row">
		<div class="col-xs-3" style="text-align: right;">
			<h2><strong>商品詳細</strong></h2>
		</div>

		<div class="col-xs-offset-5 col-xs-6">
			<div class="col-xs-12" style="text-align: center;">
				<span>
					<%= link_to '編集', edit_admin_item_path(@item), class: "btn btn-primary" %>
				</span>
				<span>
					<%= link_to '削除', admin_item_path(@item), method: :delete, class: "btn btn-danger" %>
				</span>
			</div>
		</div>
	</div>
</div>

<!-- main -->
		<div class="col-xs-12">

			<div class="col-xs-4" style="text-align: center">
				<%= attachment_image_tag @item, :jacket_image, format: 'png', class: "center-block", fallback: "/no_image_m.png", width: '200', height: '200'%>
			</div>

			<div class="col-xs-3" style="text-align: left">
				<ul class="item_detail" style="list-style: none">
					<li style="font-size: 20px"><strong>商品名</strong></li>
					  <li class="indent" style="padding-bottom: 20px"><%= @item.item_name %></li>
					<li style="font-size: 20px"><strong>アーティスト</strong></li>
					  <li class="indent" style="padding-bottom: 20px"><%= @item.artist_name %></li>
					<li style="font-size: 20px"><strong>レーベル</strong></li>
					  <li class="indent" style="padding-bottom: 20px"><%= @item.label_name %></li>
					<li style="font-size: 20px"><strong>価格</strong></li>
					  <li class="indent" style="padding-bottom: 20px">￥<%= @item.price.to_s(:delimited) %></li>
					<li style="font-size: 20px"><strong>ジャンル</strong></li>
					  <li class="indent"><%= @item.genre.genre_name %></li>
					 <li style="font-size: 20px"><strong>在庫</strong></li>
					  <li class="indent"><%= @item.stock %></li>
				</ul>
			</div>
				<div class="col-xs-4">
					
				<h4 style="padding-top: 20px"><strong>収録曲</strong></h4>
					<% @item.tracks.each do |it| %>
				<ul style="list-style: none">
					<li><%= it.track_num %>. <%= it.track_name %></li>
					<% end %>
<<<<<<< HEAD
				</ul>
			</div>
=======
    <div class="row">
        <div class="col-xs-3" style="text-align: right;">
            <h2><strong>商品詳細</strong></h2>
        </div>
    </div>
</div>

<div class="contener">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h4>検索バー</h4>
        </div>
    </div>
</div>

			<div class="col-xs-3 col-xs-offset-1" style="text-align: center">
				ジャケット写真
			</div>

			<div class="col-xs-4" style="text-align: center">
				CD情報
<table class="table">

				<tbody>
					<tr>
						<th>シングル/アルバム名</th>
						<th><span><%#= item.item_name %></span></th>
					</tr>
					<tr>
						<th>アーティスト名</th>
						<th><span><%#= item.artist_name %></span></th>
					</tr>
					<tr>
						<th>単価</th>
						<th><span><%#= item.price %>円</span></th>
					</tr>
					<tr>
						<th>ジャンル</th>
						<th><span><%#= item.genre_id %></span></th>
					</tr>
					<tr>
						<th>レーベル名</th>
						<th><span><%#= item.label_name %></span></th>
					</tr>
					<tr>
						<th>在庫</th>
						<th><span><%#= item.stock %>枚</span></th>
					</tr>
					<tr>
						<th>発売日</th>
						<th><span><%#= item.release_date %></th>
					</tr>
					<tr>
						<th>曲目</th>
						<th></th>
					</tr>
					<tr>
						<th>曲目</th>
						<th></th>
					</tr>
					<tr>
						<th>曲目</th>
						<th></th>
					</tr>
					<tr>
						<th>曲目</th>
						<th></th>
					</tr>
					<tr>
						<th>曲目</th>
						<th></th>
					</tr>
					<tr>
						<th>曲目</th>
						<th></th>
					</tr>
					<tr>
						<th>曲目</th>
						<th></th>
					</tr>
					<tr>
						<th>曲目</th>
						<th></th>
					</tr>
					<tr>
						<th>曲目</th>
						<th></th>
					</tr>
					<tr>
						<th>曲目</th>
						<th></th>

	</tr>
				</tbody>

			</table>


			</div>

			<div class="col-xs-1" style="position: absolute; right: 300px; bottom: 100px">
				<span>
					<%= link_to '編集', "#", class: "btn btn-primary" %>
				</span>
				<span>
					<%= link_to '削除', "#", class: "btn btn-danger" %>
				</span>
			</div>
		</div>

	<div class="col-xs-4" style="text-align: center">

	</div>
</div>

</div>
>>>>>>> Stashed changes
=======
				</div>
>>>>>>> f028c53b62550b814cd31e08bb5359120b2f7b2c
