
<%= render 'layouts/header'%>

<div class="container">
  <div class="row" style="margin-top: 30px">
    <h2><strong>プロフィール編集</strong></h2>
  </div>
  <div class="row" style="margin-bottom: 90px">
    <div class="panel panel-warning col-xs-6 col-xs-offset-3",
          style="text-align: center">
      <h1 class="panel-heading row" style="margin-top: 0">Edit Profile</h1>
      <dir class="panel-body" style="text-align: left">

        <%= form_for(resource, as: resource_name, url:
            registration_path(resource_name),html: { method: :patch }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field col-xs-6">
          <%= f.label :last_name, "姓"%><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "off", size: 30 %>
        </div>

        <div class="field col-xs-6">
          <%= f.label :first_name, "名" %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "off", size: 27 %>
        </div>

        <div class="field col-xs-6">
          <%= f.label :last_name_kana,"セイ" %><br />
          <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "off", size: 30 %>
        </div>

        <div class="field col-xs-6">
          <%= f.label :first_name_kana,"メイ" %><br />
          <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "off", size: 27 %>
        </div>

        <div class="field col-xs-12">
          <%= f.label :postal_code,"郵便番号" %><i> 例)1234567</i><br />
          <%= f.text_field :postal_code, autofocus: true, autocomplete: "off", size: 30 %>
        </div>

        <div class="field col-xs-6">
          <%= f.label :prefecture,"都道府県" %><br />
          <%= f.select :prefecture, User.prefectures.keys.to_a,{include_blank:'選択してください'} %>
        </div>

        <div class="field col-xs-6">
          <%= f.label :city,"市区町村・番地" %><br />
          <%= f.text_field :city, autofocus: true, autocomplete: "off", size: 27 %>
        </div>

        <div class="field col-xs-12">
          <%= f.label :building,"マンション・アパート名" %><br />
          <%= f.text_field :building, autofocus: true, autocomplete: "off", size: 65 %>
        </div>

        <div class="field col-xs-12">
          <%= f.label :phone_number,"電話番号" %><i> 例)0312345678</i><br />
          <%= f.telephone_field :phone_number, autofocus: true, autocomplete: "off", size: 30 %>
        </div>

        <div class="field col-xs-12">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "off", size: 65 %>
        </div>

        <div class="actions col-xs-12" style="margin: 5px 0">
          <%= f.submit "Update", class: "btn btn-warning" %>
        </div>
        <% end %>


      </div>
        <div class="col-xs-9 col-xs-offset-3">
          <%= link_to "Back", :back %>
        </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer'%>
