<div id="container page-container">
<%= render 'layouts/header'%>
<%= render 'layouts/Lsidebar' %>

<div class="col-xs-6" style="text-align: center">

	<!-- 検索バー -->
	<div class="row" style="margin-top: 40px">
		<%= search_form_for @search, :url => lovers_items_path do |f| %>
		<%= f.label :item_name_or_artist_name_cont_any, "商品検索" %><br>
		<%= f.search_field :item_name_or_artist_name_cont_any, :placeholder => "アーティスト名 or 商品名" %>
		<%= f.submit "検索" %>
		<% end %>
	</div>

	<!-- 見出しの条件分岐 -->
	<h2 class="row headline",　style="text-align: center">
		<% if params[:q].present? && params[:q][:item_name_or_artist_name_cont_any].present? %>
			検索結果: <%= params[:q][:item_name_or_artist_name_cont_any] %>
		<% else %>
			商品一覧
		<% end %>
	</h2>

	<!-- アイテム一覧 -->
	<div class="row item-index" style="text-align: center">
	  <% @selects.each do |i| %>
		<div class="example-1 card" style="margin: 20px 0 20px">
			<div class="wrapper">
				<%= attachment_image_tag i, :jacket_image, format: 'png', class: "center-block", fallback: "/no_image_m.png", width: '150', height: '150'%>
				<div class="data">
					<div class="content">
						<span class="index_artist"><%= i.artist_name %></span>
						<h5 class="index_item_name"><%= link_to i.item_name, lovers_path(i) %></h5>
						<tr class="index_item_detail"><%= link_to_unless_current i.genre.genre_name, lovers_genres_path(i.genre.id) %></tr>
						<tr class="index_item_detail">￥<%= i.price.to_s(:delimited) %></tr>
						<tr class="index_item_detail">
						  <% if i.release_date > Date.today.to_time %>
							  <p>近日発売</p>
						  <% elsif i.stock == 0 %>
							  <p style="color: red">Sold Out</p>
						  <% elsif i.stock < 10 %>
							  <p>残り僅か</p>
						  <% else %>
							  <p>在庫有り</p>
						  <% end %>
						</tr>
					</div>
				</div>
			</div>
		</div>
	  <% end %>
	</div>
	  <!-- kaminari -->
	<div class="row">
		<%= paginate @selects, class: "pagenate"%>
	</div>
</div>

<%= render 'layouts/Rsidebar' %>
<%= render 'layouts/footer'%>
</div>