<div id="container page-container">
<%= render 'layouts/header'%>
	<%= render 'layouts/Lsidebar' %>


		<!-- main -->
		<div class="col-xs-6" style="margin-top: 20px">
			<h2 class="row headline",　style="text-align: center"><strong>商品詳細</strong></h2>

			<div class="col-xs-4" style="text-align: center">
				<%= attachment_image_tag @item, :jacket_image, format: 'jpg',
					class: "center-block", fallback: "/no_image_m.png", width: '200', height: '200'%>
			</div>

			<div class="col-xs-5" style="text-align: left">
				<ul class="item_detail" style="list-style: none">
					<li style="font-size: 10px"><strong>商品名</strong></li>
					<li class="indent" style="padding-bottom: 10px"><%= @item.item_name %></li>

					<li style="font-size: 10px"><strong>アーティスト</strong></li>
					<li class="indent" style="padding-bottom: 10px"><%= @item.artist_name %></li>

					<li style="font-size: 10px"><strong>レーベル</strong></li>
					<li class="indent" style="padding-bottom: 10px"><%= @item.label_name %></li>

					<li style="font-size: 10px"><strong>価格</strong></li>
					<li class="indent" style="padding-bottom: 10px">￥<%= @item.price.to_s(:delimited) %></li>

					<li style="font-size: 10px"><strong>ジャンル</strong></li>
					<li class="indent"><%= @item.genre.genre_name %></li>
				</ul>

				<div class="row" style="margin-bottom: 50px">
					<div class="track-box" style="margin-bottom: 20px">
						<h4 style="padding: 20px"><strong>収録曲</strong></h4>
						  <% @item.discs.each do |id| %>
						<ul style="list-style: none">
							<li style="padding-bottom: 10px"><br><strong><%= id.disc_name %></strong></li>
						  	  <% id.tracks.each do |it| %>
							<li class="indent" style="font-size: 12px"><strong><%= it.track_num %>. </strong><%= it.track_name %></li>
							  <% end %>
						  <% end %>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-xs-3" style="text-align: center">
				<!-- (発売日時が現在日時よりも先の場合) -->
				<% if @item.release_date > Date.today.to_time %>
					<button type="button" class="btn btn-default" disabled="disabled">近日発売</button>

				<!-- 在庫が0個の場合 -->
				<% elsif @item.stock == 0 %>
					<button type="button" class="btn btn-danger" disabled="disabled">売り切れ</button>

				<!-- そのほかの場合 -->
				<% else %>
					<%= form_for @new_order, url:lovers_user_items_path do |n| %>
					<%= n.hidden_field :item_id %>
					<%= n.number_field :quantity %>
					<%= n.submit 'カートに入れる', class:'btn btn-primary' %>
					<% end %>
				<% end %>
			</div>
		</div>
	<%= render 'layouts/Rsidebar' %>
<%= render 'layouts/footer'%>
</div>