<%= render 'layouts/header'%><!-- header -->
	<div class="row">
		<%= render 'layouts/Lsidebar' %><!-- L sidebar -->

		<!-- main -->
		<div class="col-xs-6">
			<h2 class="row headline",　style="text-align: center">商品詳細</h2><!-- 見出し -->

			<div class="col-xs-4" style="text-align: center">
				<%= attachment_image_tag @item, :jacket_image, format: 'png', class: "center-block", fallback: "/no_image_m.png", width: '200', height: '200'%>
			</div>

			<div class="col-xs-4" style="text-align: left">
				<ul class="item_detail" style="list-style: none">
					<li><%= @item.item_name %></li>
					<li><%= @item.label_name %></li>
					<li><%= @item.price %></li>
					<li><%= @genre.genre_name %></li>
					<li><%#= @track.track_name %></li>
				</ul>
			</div>

			<div class="col-xs-4" style="text-align: center">
				<button class="btn btn-primary">カートに入れる</button>
				<button class="btn btn-danger">売り切れ</button>
				<button class="btn btn-default">近日発売</button>
			</div>
		</div>
	<!-- R sidebar --><%= render 'layouts/Rsidebar' %>
	</div>
<!-- footer --><%= render 'layouts/footer'%>
