<%= render "layouts/admin/header" %>

<div class="contener">
	<div class="row btn-margin-top">
		<div class="col-xs-3" style="text-align: center;">
			<%= link_to "Back", :back, class: "btn btn-primary btn-xs" %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3" style="text-align: right">
			<h2 style="margin-top: 40px"><strong>購入詳細編集</strong></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">

			<% if @order.errors.any? %>
			    <h3>入力した内容にエラーが<%= @order.errors.count %>件あります</h3>
				    <ul>
				      	<% @order.errors.full_messages.each do |message| %>
				      	<li><%= message %></li>
				      <% end %>
				    </ul>
			  <% end %>
		</div>

		<div class="col-xs-10 col-xs-offset-2">
			<h3>購入者情報</h3>
		</div>

		<div class="col-xs-6 col-xs-offset-3">
			<table class="whole col-xs-12">
				<tr>
					<th width="256">購入者</th><td><%= @order.last_name_kana %> <%= @order.first_name_kana %>  様</td>
				</tr>
				<tr>
					<th>購入日時</th><td><%= @order.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
				</tr>

			<%= form_for @order, :url => admin_order_path do |o| %><!-- フォーム始まり -->
				<tr>
					<th><div>注文状況</div></th>
					<td><%= o.select :status, ['発送前', '発送準備中', '発送済','キャンセル'], {include_blank: '注文状況を選択'}  %></td>
				</tr>
				<tr>
					<th><div>お支払い方法</div></th>
					<td><%= o.select :payment, ['銀行振込', 'クレジットカード'], {include_blank: '支払い方法を選択'}  %></td>
				</tr>
			</table>
		</div>

		<div class="col-xs-10 col-xs-offset-2">
			<h3>商品送付先</h3>
		</div>

		<div class="col-xs-6 col-xs-offset-3">
		<table class="whole col-xs-12">
				<tr>
					<th width="256"><div style="padding-bottom: 20px">郵便番号</div></th>
					<td  style="padding-top: 55px"><%= o.text_field :postal_code %><br></td>
				</tr>
				<tr>
					<th><div>都道府県</div></th>
					<td><%= o.select :prefecture, Destination.prefectures.keys.to_a,{} %></td>
				</tr>
				<tr>
					<th><div>市区町村</div></th>
					<td><%= o.text_field :city %><br></td>
				</tr>
				<tr>
					<th><div>住所</div></th>
					<td><%= o.text_field :building %><br></td>
				</tr>
				<tr>
					<th><div>電話番号</div></th>
					<td><%= o.text_field :phone_number %></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-xs-6 col-xs-offset-3" style="margin-top: 20px">
		<div class="panel panel-default">
			<div class="panel-body" style="padding: 15px 15px 15px 15px">
				<div class="col-xs-8">
					<% @order.items.each do |item| %>
					<div style="margin-bottom: 5px"><strong>[ 商品名 ]</strong><br><%= item.item_name %></div>
					 <strong>[ アーティスト名 ]</strong><br>
					<%= item.artist_name %><br>
					<br>
					<% end %>
				</div>
				<div class="col-xs-4">
					<%= o.fields_for :order_items do |i| %>
					<div style="padding-bottom: 40px"><br><%= i.number_field :quantity %>枚</div><br>
					<% end %>
			</div>
		</div>
	</div>
	<div style="margin-bottom: 40px"><%= o.submit "更新", class: "btn btn-primary btn-block" %></div>
			<% end %> <!-- フォーム終わり -->
</div>