    <%= render "layouts/admin/header" %>

<div class="contener">
    <div class="row btn-margin-top">
        <div class="col-xs-3" style="text-align: center;">
            <%= link_to "Back", :back, class: "btn btn-primary btn-xs" %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3" style="text-align: right;">
            <h2><strong>購入履歴一覧</strong></h2>
        </div>
    </div>
</div>

<div class="contener">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h4>検索バー</h4>
        </div>
    </div>
</div>


<div class="row">
    <div class="table-link col-xs-8 col-xs-offset-2">
        <table id="foo-table" class="table table-stripped">
            <thead>
               <tr>
            　　 <th>ID</th>
            　　 <th>USER</th>
            　　 <th>購入日</th>
            　　 <th>STATUS</th>
               </tr>
            </thead>
            <% @orders.each do |order| %>
            <tbody>
               <tr>
                <td><%= order.id %></td>
                <td><%= order.last_name %><%= order.first_name %></td>
                <td><%= link_to order.created_at.strftime('%Y年%m月%d日 %H:%M'), admin_order_path(order) %></td>
                <td><%= order.status %></td>
                <td><%= link_to "編集", edit_admin_order_path(order.id), class: "btn btn-primary btn-xs" %></td>
            <% end %>
               </tr>
            </tbody>
        </table>
       <%= paginate @orders %>
    </div>
</div>