<%= render "layouts/admin/header" %>

<div class="contener">
	<div class="row btn-margin-top">
		<div class="col-xs-3" style="text-align: center;">
			<%= link_to "Back", admin_orders_path, class: "btn btn-primary btn-xs" %>
		</div>
	</div>

<div class="row">
	<div class="col-xs-3" style="text-align: right">
		<h2 style="margin-top: 40px"><strong>購入詳細</strong></h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<table class="whole col-xs-12">
			<tr>
				<th width="250">購入者</th><td><%= @order.last_name_kana %> <%= @order.first_name_kana %>  様</td>
			</tr>
			<tr>
				<th>購入日時</th><td><%= @order.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
			</tr>
			<tr>
				<th>注文状況</th><td><%= @order.status %></td>
			</tr>
			<tr>
				<th>お支払い方法</th><td><%= @order.payment %></td>
			</tr>
		</table>
	</div>
	<div class="col-xs-6 col-xs-offset-3" style="margin-top: 20px">
	<% sum = 0 %>
	  <% @order.order_items.each do |i| %>
		<div class="panel panel-default">
			<div class="panel-body" style="padding: 15px 15px 0 15px">
				<table>
					<tbody>
						<tr>
							<td width="400"><%=i.item.item_name %></td>
							<td width="200"><%=i.item.artist_name %></td>
							<td width="150">￥<%= i.price.to_s(:delimited) %></td>
							<td width="50"><%= i.quantity %>枚</td>
							<% sub_total = i.price * i.quantity %>
							<% sum = sum + sub_total %>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-footer text-right">小計￥<%= sub_total.to_s(:delimited) %></div>
		</div>
	  <% end %>
	  <table class="table whole col-xs-12">
		<tr class="warning">
			<th width="250" style="padding-top: 20px">購入金額合計</th><td style="padding-top: 20px">￥<%= sum.to_s(:delimited) %></td>
		</tr>
	  </table>
	</div>
<%= link_to "編集", edit_admin_order_path(@order.id), class: "btn btn-primary btn-xs" %>
	<div class="col-xs-6 col-xs-offset-3" style="margin-top: 40px">
		<table class="whole col-xs-12" style="margin-bottom: 40px">
			<tr>
				<th width="250" style="padding-bottom: 50px">商品送付先</th>
				<td style="padding-bottom: 50px">
				<strong>郵便番号</strong> : <%= @order.postal_code %><br>
				<strong>都道府県</strong> : <%= @order.prefecture %><br>
				<strong>住所</strong> : <%= @order.city %><br>
				<strong>建物名</strong> : <%= @order.building %><br>
				<strong>電話番号</strong> : <%= @order.phone_number %>
				</td>
			</tr>
		</table>
	</div>
</div>