<%= render 'layouts/admin/header' %>


<div class="contener">
	<div class="row btn-margin-top">
		<div class="col-xs-3" style="text-align: center;">
			<%= link_to "Back", admin_top_path, class: "btn btn-primary btn-xs" %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3" style="text-align: right;">
			<h2><strong>ジャンル編集</strong></h2>
		</div>
	</div>
</div>

<div class="contener">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-3">
			<table class="table">
				<thead>
					<tr><h1>ジャンル編集</h1></tr>
				</thead>
			</table>
			<% @genres.each do |genre| %>
				<%= form_for genre, url: admin_genre_path(genre) do |f| %>
					<tbody>
						<table class="table-body">
							<tr>
							    <td><span><%= f.text_field :genre_name, class: 'col-xs-11' %></span></td>
							    <td><div style="margin: 2px"><span><%= f.submit 'Update',class: "btn btn-success" %></span></div></td>
							    <td><div style="margin: 2px"><%= link_to "Destroy", admin_genre_path(genre.id), class: "btn btn-danger", method: :delete, data:{confirm: "Can I delete it？" } %></div></td>
						     </tr>
						</table>
					</tbody>
				<% end %>
			<% end %>
		<%= paginate @genres %>
		</div>
		<div class="col-xs-3" style="text-align: left;">
			<table class="table">
				<thead>
					<tr><h1>新規ジャンル</h1></tr>
				</thead>
					<%= form_for [:admin, @genre] do |f| %>
						<div style="margin-top: 5px">入力</div>
						<div style="margin-bottom: 30px"><%= f.text_field :genre_name, class: 'col-xs-12' %></div>
							<%= f.submit "Create Genre", class: "btn btn-primary col-xs-12" %>
					<% end %>
		</div>
	</div>
</div>