<h1>開発状況確認用viewページ</h1>

<table class="table table-stripped">
	<caption> 商品一覧</caption>
	<tr>
		<th>商品画像</th>
		<th>商品名/アーティスト名</th>
		<th>単価</th>
		<th>数量</th>
		<th>小計</th>
	</tr>
	<% @items.each do |user_item| %>
	<tr>
		<td> <!-- attachment_image_tag予定地 --></td>
		<td><%= user_item.item_name %> / <%= user_item.artist_name %></td>
		<td><%= user_item.price %></td>   <!-- 余裕があれば、金額形式で表記する -->
		<td><%= user_item.stock %></td> <!-- 数量を変更できるようにプルダウンボタン実装する -->
 <td></td>
	</tr>
	<% end %>
</table>

<table class="table table-stripped">
	<cation>購入内容</cation>
	<thead>
		<tr>
			<th>商品画像</th>
			<th>商品名/アーティスト名</th>
			<th>在庫</th>
			<th>   </th>
		</tr>
	</thead>
	<tbody>
		<% @user_items.each do |user_item| %>
		<tr>
			<td> <!-- attachment_image_tag予定地 --></td>
			<td><%= user_item.item.item_name %> / <%= user_item.item.artist_name %></td>
			<td><%= user_item.item.stock %></td> <!-- 数量を変更できるようにプルダウンボタン実装する -->
			<td> </td>
		</tr>
	</tbody>
<% end %>
</table>

<table class="table table-stripped">
	<caption>orders一覧</caption>
	<tr>
		<th>order_id</th>
		<th>user_id</th>
		<th>送り先名</th>
		<th></th>
		<th>注文日時</th>
		<th>ステータス</th>
		<th>支払い方法</th>
	</tr>
	<% @orders.each do |orders| %>
	<tr>
		<td><%= orders.id %></td>
		<td><%= orders.user_id %></td>
		<td><%= orders.first_name %></td>
		<td><%= orders.last_name %></td>
		<td><%= orders.created_at.to_s(:created_at) %></td>
		<td><%= orders.status %></td>
		<td><%= orders.payment %></td>
	</tr>
	<% end %>
</table>

<table class="table table-stripped">
	<caption>order_items一覧</caption>
	<tr>
		<th>order_items_id</th>
		<th>item_id</th>
		<th>item名</th>
		<th>アーティスト名</th>
		<th>数量</th>
		<th>price</th>
		<th>order_id</th>
	</tr>
	<% @order_items.each do |order_item| %>
	<tr>
		<td><%= order_item.id %></td>
		<td><%= order_item.item_id %></td>
		<td><%= order_item.item.item_name %></td>
		<td><%= order_item.item.artist_name %></td>
		<td><%= order_item.quantity %></td>   <!-- 余裕があれば、金額形式で表記する -->
		<td><%= order_item.price%></td> <!-- 数量を変更できるようにプルダウンボタン実装する -->
		<td><%= order_item.order_id %>  </td>
		<td>
	</tr>
	<% end %>
</table>
