<!-- header -->
<%= render 'layouts/admin/header' %>

<div class="row btn-margin-top">
  <div class="col-xs-3" style="text-align: center;">
    <%= link_to "Back", :back, class: "btn btn-primary btn-xs" %>
  </div>
</div>

  <div class="container">
    <div class="row" style="margin-top: 100px">
      <div class="panel panel-default col-xs-6 col-xs-offset-3" style="text-align: center">
        <h1 class="panel-heading row" style="margin-top: 0">Admins Log in</h1>

        <div class="panel-body">

        <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-grey col-xs-12" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
