<%= render 'layouts/header'%><!-- header -->
<h1 style="text-align: center">*購入確認（レジ）画面*</h1>  <!-- 完成したらこの行は削除する -->
<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<!-- 購入内容一覧 -->
			<table class="table table-stripped">
				<cation>購入内容</cation>
				<thead>
					<tr>
						<th>商品画像</th>
						<th>商品名/アーティスト名</th>
						<th>単価</th>
						<th>数量</th>
						<th>小計</th>
						<th>   </th>
					</tr>
				</thead>
				<tbody>
					<% @user_items.each do |user_item| %>
					<tr>
						<td> <!-- attachment_image_tag予定地 --></td>
						<td><%= user_item.item.item_name %> / <%= user_item.item.artist_name %></td>
						<td><%= user_item.item.price %></td>   <!-- 余裕があれば、金額形式で表記する -->
						<td><%= user_item.quantity%></td> <!-- 数量を変更できるようにプルダウンボタン実装する -->
						<td><%= user_item.item.price * user_item.quantity %>  </td>
						<td> </td>
						<td> </td>
						<td> </td>
					</tr>
				</tbody>
				<% end %>
				<thoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>購入金額合計：</td>
						<td> <!-- カート内合計金額を導き出す　やりかた不明 --></td>
					</tr>
				</thoot>
			</table>


			<!-- 商品送付先-->
			<!-- 支払い方法選択 -->
			<div class="">
				<div class="">商品送付先</div>
				<%= link_to '送り先の変更はこちら', new_lovers_destination_path, class: 'btn btn-default' %>
				<div class="line"> </div>
				<%= @user.last_name %> <%= @user.first_name %><br>
				<%= @user.postal_code %><br>
				<%= @user.prefecture %><%= @user.city %><br>
				<%= @user.building %><br>
				<%= @user.phone_number %>
			</div>

			<!-- 支払い方法選択 -->
			<div class="">
				<div class="">支払い方法</div>
				<%= form_for @neworder, url: lovers_user_items_path do |f| %>
				<%= f.select :payment, ['銀行振込', 'クレジットカード'], {include_blank: '支払い方法を選択'} %>
				<%= f.submit '購入履歴保存',  class: 'col-xs-3 btn btn-danger' %>
				<%end%>
				<div class="line"> </div>
			</div>

			<%= link_to 'カートに戻る', lovers_user_item_path(current_user), class: 'col-xs- btn btn-default' %><br>
			<%= link_to '在庫減数', lovers_user_items_cart_stock_path, class: 'col-xs-3 btn btn-danger' %>
			<%= link_to '購入明細保存', lovers_user_items_orderitems_save_path, class: 'col-xs-3 btn btn-danger' %>
			<%= link_to 'カート内削除', lovers_user_items_cart_destroy_path, class: 'col-xs-3 btn btn-danger' %>

		</div>
	</div>
</div>
<%= render 'layouts/footer'%>
