<%= render 'layouts/admin/header' %>


<div class="contener">
  <div class="row btn-margin-top">
    <div class="col-xs-3" style="text-align: center;">
      <%= link_to "Back", :back, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3" style="text-align: right;">
      <h2><strong>管理者編集</strong></h2>
    </div>
  </div>


  <div class="row">
    <div class="panel panel-default col-xs-6 col-xs-offset-3">
      <!-- <h1 class="panel-heading row" style="margin-top: 0">hogehoge</h1> -->
        <div class="panel-body" style="text-align: left">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>


          <div class="field">
            <%= f.label :なまえ %><br />
            <%= f.text_field :admin_name, autofocus: true, autocomplete: "true" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :新しいパスワード %> <i>(変えたくないなら空欄で！)</i><br />
            <%= f.password_field :password, autocomplete: "off" %>
            <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :パスワード確認 %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :現在のパスワード %> <i>(変更がある場合は入力してね！)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: "btn btn-sm btn-primary" %>
          </div>
          <% end %>

          <h3>アカウント削除</h3>

          <p>マジ? <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当にいいの?" }, method: :delete, class: "btn btn-xs btn-danger" %></p>

        </div>
    </div>
  </div>
</div>


<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->
