    <%= render "layouts/admin/header" %>

<div class="contener">
    <div class="row btn-margin-top">
        <div class="col-xs-3" style="text-align: center;">
            <%= link_to "Back", :back, class: "btn btn-primary btn-xs" %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3" style="text-align: right;">
            <h2><strong>ユーザー一覧</strong></h2>
        </div>
    </div>
</div>

<div class="contener">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h4>検索バー</h4>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <table id="foo-table" class="table table-bordered">
            <thead>
               <tr>
        	　　 <th>ユーザーID</th>
        	　　 <th>性</th>
        	　　 <th>名</th>
        	　　 <th>セイ</th>
        	　　 <th>メイ</th>
               </tr>
            </thead>
            <% @users.each do |u| %>
            <tbody>
               <tr>
                <td><%= u.id %></td>
            <td><%= link_to u.last_name, admin_user_path(u) %></td>
                <!-- <td><%= u.last_name %></td> -->
                <td><%= u.first_name %></td>
                <td><%= u.last_name_kana %></td>
                <td><%= u.first_name_kana %></td>
            <% end %>
               </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    <%= paginate @users %>
</div>