    <%= render "layouts/admin/header" %>

<div class="contener">
    <div class="row btn-margin-top">
        <div class="col-xs-3" style="text-align: center;">
            <%= link_to "Back", :back, class: "btn btn-primary btn-xs" %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3" style="text-align: right;">
            <h2><strong>ユーザー 一覧</strong></h2>
        </div>
    </div>
</div>

<!-- 検索バー -->
<div class="text-center">
    <%= search_form_for @search, :url => admin_users_path do |f| %>
        <%= f.label :last_name_kana_or_first_name_kana_cont_any, "名前検索" %><br>
        <%= f.search_field :last_name_kana_or_first_name_kana_cont_any, :placeholder => "カタカナ検索" %>
        <%= f.submit "検索" %>
    <% end %>
</div>


<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <table id="foo-table" class="table table-bordered">
            <thead>
               <tr>
            　　 <th width="90">ユーザーID</th>
            　　 <th>姓</th>
            　　 <th>名</th>
            　　 <th>セイ</th>
            　　 <th>メイ</th>
                <th>フラグ</th>
               </tr>
            </thead>
            <% @selects.each do |u| %>
            <tbody>
               <tr>
                <td><%= u.id %></td>
            <td><%= link_to u.last_name, admin_user_path(u) %></td>
                <!-- <td><%= u.last_name %></td> -->
                <td><%= u.first_name %></td>
                <td><%= u.last_name_kana %></td>
                <td><%= u.first_name_kana %></td>
                <td><%= u.retire_flag ? "退会済" : "アクティブ" %></td>
            <% end %>
               </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    <%= paginate @selects %>
</div>