<header class="row user_header navbar-fixed-top" style="padding: 0 5%">
		<%= link_to image_tag('/ml_logo1.png'), lovers_root_path %>
		<% unless flash.empty? %>
		  <script type="text/javascript">
		 　　<% flash.each do |f| %>
		 　　　<% type = f[0].to_s.gsub('alert','error').gsub('notice','info') %>
		　　　　　toastr['<%=type %>']('<%=f[1] %>', {positionClass: "toast-top-center"});
			<% end %>
		　　</script>
		<% end %>

		<span class="nav-box">
			<div class="collapse navbar-collapse navbar-right hako" style="line-height: 90px" id="navbarEexample7">
		      　　<ul class="nav navbar-nav">

		      	<!-- ナビゲーション条件分岐 -->

		      	<!-- ログイン後 -->
		      	<% if user_signed_in? %>
		      		<li style="padding-right: 30px">こんにちは <%= current_user.first_name %> さん</li>
		            	<%= link_to lovers_user_path(current_user) do %>
	                <li class="navlink" aria-hidden="true" style="color: #9d9d9d"><img src="/user.png" width="25" height="25"> マイページ</li>
		            	<% end %>
		            	<%= link_to destroy_user_session_path, method: :delete do %>
	                <li class="navlink" aria-hidden="true" style="color: #9d9d9d"><img src="/sign_out.png" width="25" height="25"> ログアウト</li>
		            	<% end %>
		            		<!-- カートが空だったら、空のアイコン -->
		            		<% if @user_items.blank? %>
				            	<%= link_to lovers_user_item_path(current_user.id) do %>
			        			<img class="Cart" src="/cart_blank.png" width="40" height="40">
				            	<% end %>
				            <!-- それ以外は入ってるアイコン -->
				            <% else %>
				            	<%= link_to lovers_user_item_path(current_user.id) do %>
			        			<img class="Cart" src="/cart1.png" width="40" height="40">
				            	<% end %>
				           	<% end %>
		        <!-- ログイン前 -->
		        <% else %>
		        	<li style="padding-right: 30px">こんにちは ゲスト さん</li>
		        		<%= link_to new_user_session_path do %>
	                <li class="navlink" aria-hidden="true" style="color: #9d9d9d"><img src="/sign_in.png" width="25" height="25"> ログイン</li>
		            	<% end %>
		            	<%= link_to new_user_registration_path do %>
	                <li class="navlink" aria-hidden="true" style="color: #9d9d9d"><img src="/key.png" width="25" height="25"> 新規登録</li>
		            	<% end %>
		        <% end %>
	            </ul>
		    </div>
		</span>
	</div>
</header>
