<div class="col-xs-3 side-bar" style="background-color: #ffe69c">
	<ul class="genre-nav" style="text-align: center">
		<h3>ジャンル</h3>
		<li><%= link_to "POP", lovers_items_path,as: :index %></li>
		<li><%= link_to "ROCK", lovers_items_path,as: :index %></li>
		<li><%= link_to "JAZZ", lovers_items_path,as: :index %></li>
		<li><%= link_to "IDOL", lovers_items_path,as: :index %></li>
		<li><%= link_to "R&B", lovers_items_path,as: :index %></li>
		<br>
		<li><%= link_to "一覧", lovers_items_path,as: :index %></li>
	</ul>
	<div class="banner-box" style="text-align: center">
		<img class="banner" src="/Thailand.jpg" width="300" height="80">
		<img class="banner" src="/samurai.jpg" width="300" height="80" vspace="10">
		<img class="banner" src="/progate.jpg" width="300" height="80">
	</div>
</div>