<span class="col-xs-3 side-bar" style="background-color: #ffe69c">
	<ul style="list-style: none">
		<li><%= link_to "", lovers_items_path,as: :index %></li>
		<li><%= link_to "", lovers_items_path,as: :index %></li>
		<li><%= link_to "", lovers_items_path,as: :index %></li>
		<li><%= link_to "", lovers_items_path,as: :index %></li>
		<li><%= link_to "", lovers_items_path,as: :index %></li>
	</ul>
<%= link_to "", lovers_items_path,as: :index  %>
</span>